<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juntai.project.sell.mall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
<!--    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE " />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        >
        <activity android:name=".home.assets.withdraw.AssetsWithDrawRecordActivity" />
        <activity android:name=".home.assets.withdraw.BindBankCardActivity" />
        <activity android:name=".home.assets.withdraw.AssetsWithDrawActivity" />
        <activity android:name=".home.assets.assetsDetail.AssetsDetailActivity" />
        <activity android:name=".home.shopFurnish.ShopFurnishActivity" />
        <activity android:name=".home.assets.AssetsActivity" />
        <activity android:name=".mine.ModifyPhoneActivity" />
        <activity android:name=".mine.guide.GuideDetailActivity" />
        <activity android:name=".mine.guide.NewHandGuideActivity" />
        <activity android:name=".order.send.SendActivity" />
        <activity android:name=".home.commodityManager.allCommodity.commodityProperty.CommodityFormatPropertyActivity" />
        <activity android:name=".home.commodityManager.allCommodity.editCommodity.CommodityDetailActivity" />
        <activity android:name=".home.commodityManager.allCommodity.editCommodity.AddCommodityDetailInfoActivity" />
        <activity android:name=".home.commodityManager.allCommodity.editCommodity.AddCommodityActivity" />
        <activity android:name=".home.commodityManager.allCommodity.editCommodity.EditCommodityActivity" />
        <activity
            android:name=".home.commodityManager.allCommodity.AllCommodityActivity"
            android:launchMode="singleTask" />
        <activity android:name=".home.commodityManager.commodityCategory.CommodityCategoryActivity" />
        <activity android:name=".home.shop.shopCategory.ChoseCategoryActivity" />
        <activity android:name=".home.shop.ShopManagerActivity" />
        <activity android:name=".home.systemNotice.PicTextActivity" />
        <activity android:name=".home.systemNotice.SystemNoticeActivity" />

        <activity android:name=".home.commodityManager.CommodityManagerActivity" />


        <activity
            android:name=".share.ShareActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mine.verified.VerifiedActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mine.myinfo.ModifyNickNameActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".news.ChatActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.juntai.wisdom.mall.chatactivity"
                    android:path="/push"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.refund.RefundRequestActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".order.refund.RefundActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".base.displayPicVideo.PicVideoDisplayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".order.evaluate.EvaluateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".order.orderDetail.OrderDetailActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".order.allOrder.OrderManagerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.modifyPwd.BackPwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mine.MyCenterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".search.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".home.QRScanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SellMainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" /> <!-- 百度地图 -->
        <!-- Ma - debug-Release-key : A2hxzsrCO3VOXGXBzVjP3zKKYBsNhi1A -->
        <!--  -->
        <activity
            android:name=".mine.myinfo.ImageCropActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".home.shop.ijkplayer.PlayerLiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".mine.myinfo.HeadCropActivity"
            android:launchMode="singleTop" />

        <service android:name=".home.shop.ijkplayer.KeepAliveService" />

        <activity
            android:name=".mine.modifyPwd.ModifyPwdActivity"
            android:launchMode="singleTop" /> <!-- 关于 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 个人信息 -->
        <!-- 图片裁切 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:name,android:authorities,android:exported,android:grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:name,android:resource" />
        </provider>
    </application>

</manifest>