<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.live_moudle">


    <application android:allowBackup="true">
        <service
            android:name=".live.BackgroundService"
            android:enabled="true" />
    </application>
</manifest>